/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/* Variables */
@import url('vars.css');

/* Styles */
body {
    margin: 0;
    color: white;
}

body > * {
    padding-inline: 10%;
    font-family: Comfortaa;
    font-size: 1.5em;
}

.main-nav, .main-header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-color);
}

.main-nav {
    height: 64px;
}

footer {
    height: 180px;
}

.main-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1em;
    list-style-type: none;
}

.main-nav #menu-button {
    display: none;
    width: 48px;
    aspect-ratio: 1;
    filter: invert(100%);
    border: none;
    background-color: transparent;
    background-image: url('../assets/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.main-nav a {
    color: white;
    text-decoration: none;
        opacity: .9;
        transition: ease .2s;
}

.main-nav a:hover {
    opacity: 1;
}

.main-nav a::after {
    content: "";
    display: block;
    width: 0%;
    margin-inline: auto;
    border-bottom: 1px solid white;
    transition: ease .2s;
}

.main-nav a:hover::after, .main-nav a.current::after {
    width: 90%;
}

footer {
    align-items: center;
}

@media (max-width: 750px) {
    .main-nav, footer {
        padding-inline: 1em;
    }

    .main-nav a:not(.current) {
        display: none;
    }

    .main-nav #menu-button {
        display: inline-block;
    }

    dialog {
        font-family: Comfortaa;
        font-size: 2em;

        padding: 0;

        color: white;
        background-color: var(--secondary-color);

        border: none;
        border-radius: 20px;
    }

    dialog ul {
        padding: 100px;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }

    dialog ul a {
        color: white;
        text-decoration: none;
    }

    dialog::backdrop {
        background: rgba(0, 0, 0, 50%);
    }

    footer {
        padding-block: 1em;
        flex-direction: column;
    }

    footer p {
        margin: .5em;
    }
}